/* Basic Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: white;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
   font-weight: 200px;
   line-height: 1.2;
}

p {
    margin: 10px 0;
}

/* navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    opacity: 0.6;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar, a {
    color: #fff;
    padding: 10px 20px;
    margin: 0;
}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    border: 1px solid  #f08080;
    cursor: pointer;
    background-color: #f08080;
}

/* Header And Search */

.hero {
    background: url(../pics/shopping-bag.webp) no-repeat center center/cover;
    height: 125vh;
    position: relative;
    
    
}

.hero .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60%;
}

.hero .search h1 {
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
}

.hero .search p {
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 5, 5, 0.4);
}

.hero * {
    z-index: 10;
}

.search h2 {
    color: #fff;
    padding: 20px 20px;
    margin: 10px 0 10px;
}

.search input {
    padding: 7px 300px 5px 0;
    border: 2px solid  #f08080;
    border-radius: 5px;
}

.search button {
    margin-top: 40px;
}
.logos { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.5rem;
    width: 100%;
    margin: auto;

}
.logos img {
    margin-left: 75%;
    height: 150px;
    width: 200px;
}

.review {
    background-color: #d3d3d3;
    height: 100vh;
    width: 100%;
}

.people h2 {
    text-align: center;
    padding-top: 70px;
}

.review-container, div {
    grid-template-rows: repeat(1, 200px);
    text-align: center;
    grid-gap: 0.3rem;
    padding: 1.2rem 0;   
}

.footer {
    height: 20vh;
    background-color: #333;
}

.footer p {
    color: #d3d3d3;
    padding-top: 40px;
    text-align: center;
    
}
 





